@keyframes shake {
    0% { transform: rotate(-3) }
    20% { transform: rotate(3deg) }
    40% { transform: rotate(-3deg) }
    60% { transform: rotate(3deg) }
    80% { transform: rotate(-3deg) }
    100% {transform: rorate(3) }
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade_down {
    0% {
        opacity: 0;
        transform: translateY(-10rem)
    }

    100% {
        opacty: 1;
        transform: translateY(0);
    }
}

@keyframes fade_up {
    0% {
        opacity: 0;
        transform: translateY(10rem)
    }

    100% {
        opacty: 1;
        transform: translateY(0);
    }
}

@keyframes pause-between-iterations {
    /* Other animation is visible for 25% of the time */
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    /* Other animation is hidden for 75% of the time */
    25.1% {
      opacity: 0;	
    }
    100% {
      opacity: 0;
    }
}