$primary-green-color: #27CCBC;
$primary-green-dark-color: #59b4ab;
$primary-green-darkest-color: #1d9185;
$secondary-red-color: #ee7d69;
$secondary-red-light-color: #ec9686;
$secondary-red-dark-color: #d15641;

$bp-large: 120em; // 1600px
$bp-medium: 75em; // 1200px
$bp-small: 50em; // 800px
$bp-mobile: 31.25em; // 500px
$bp-mobile-horizontal: 56.25em;