.header {
    background-image: linear-gradient(to right bottom, rgba($secondary-red-color, 0.1), rgba($primary-green-color, 0.1)), url(../img/hero-background-edited.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    grid-row: 1 / 2;
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: minmax(5rem, 1fr) repeat(12, minmax(min-content, 14rem)) minmax(5rem, 1fr);
    
    &__primary__1 {
        @media only screen and (max-width: $bp-mobile) {
            font-size: 3rem;
        }

        @media only screen and (max-width: $bp-mobile-horizontal) and (orientation: landscape) {
            font-size: 3rem;
        }
    }

    &__secondary__2 {
        @media only screen and (max-width: $bp-mobile) {
            font-size: 2rem;
            line-height: 150%;
        }

        @media only screen and (max-width: $bp-mobile-horizontal) and (orientation: landscape) {
            font-size: 2rem;
        }
    }

    &__title {
        animation: fade_in 1s;
        grid-row: 2 / 4;
        grid-column: 2 / 6;

        @media only screen and (max-width: $bp-large) {
            grid-column: 2 / 7;
        }
        
        @media only screen and (max-width: $bp-medium) {
            grid-column: 2 / 10;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 2 / 12;
        }

        @media only screen and (max-width: $bp-mobile) {
            grid-column: 2 / 14;
        }

        @media only screen and (max-width: $bp-mobile-horizontal) and (orientation: landscape) {
            grid-row: 1 / 4;
            transform: translateY(1rem);
        }
    }

    &__name {
        background-color: $primary-green-dark-color;
        padding: 0 1rem;
        border-radius: 0.4rem;
    }

    &__bottom__border {
        border-bottom: 0.5rem solid $primary-green-dark-color;
    }
}